language: java
jdk:
  - openjdk8

branches:
  only:
    - chang

before_install:
 - chmod +x gradlew

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"


#CI 실행 완료 시 메일로 알람
notifications:
  email:
    recipients:
      - aowert6518@naver.com

before_deploy:
  - zip -r springboot-webservice-wowwe
  - mkdir -p deploy
  - mv springboot-webservice-wowwe.zip deploy/springboot-webservice-wowwe.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: wowwe-bucket
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    wait-until-deployed: true
