language: java
jdk:
  - openjdk8

branches:
  only:
    - chang

before_install:
 - chmod +x gradlew

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"


#CI 실행 완료 시 메일로 알람
notifications:
  email:
    recipients:
      - aowert6518@naver.com

before_deploy:
  - zip -r springboot-webservice-wowweServer *
  - mkdir -p deploy
  - mv springboot-webservice-wowweServer.zip deploy/springboot-webservice-wowweServer.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: wowwe-bucket
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    wait-until-deployed: true
    on:
      branch: chang
   
  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY # Travis repo settings에 설정된 값 
    secret_access_key: $AWS_SECRET_KEY # Travis repo settings에 설정된 값 
    bucket: wowwe-bucket # S3 버킷 
    key: springboot-webservice-wowweServer.zip # 빌드 파일을 압축해서 전달 
    bundle_type: zip application: springboot-webservice-wowweServer # 웹 콘솔에서 등록한 CodeDeploy 어플리케이션 
    deployment_group: springboot-webservice-wowweServer-group # 웹콘솔에서 등록한 CodeDeploy 배포 그룹 
    region: ap-northeast-2 
    wait-until-deployed: true
    on:
      branch: chang

