<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../img/doran-erickson-gdAuwo-qj5k-unsplash.jpg">
</head>
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>description</th>
                <th>uploadTime</th>
                <th>duration</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="video : ${videos}">
                <td th:text="${video.id}"></td>
                <td th:text="${video.title}"></td>
                <td th:text="${video.description}"></td>
                <td th:text="${video.uploadTime}"></td>
                <td th:text="${video.duration}"></td>
            </tr>
            </tbody>
        </table>
        <img src="../../img/doran-erickson-gdAuwo-qj5k-unsplash.jpg">
    </div>
</div> <!-- /container -->
</body>
</html>